<div class="" id="loginModal">
    <div class="modal-body">
        <div class="well">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active in" id="register">
                    <form class="form-horizontal" enctype="multipart/form-data" id="register-form" action="#">
                        <fieldset>
                            <div id="legend">
                                <legend class="">Upload file</legend>
                            </div>
                            <div class="control-group">
                                <!-- File -->
                                <label class="control-label" for="file">Email</label>

                                <div class="controls">
                                    <input type="file" id="file" name="file" placeholder="" class="input-xlarge">
                                </div>
                            </div>


                            <div class="control-group">
                                <!-- Button -->
                                <div class="controls">
                                    <button type="button" class="btn btn-success" id="upload-file-button">Upload</button>
                                    <button type="button" class="btn btn-success" id="upload-file-cancel-button">Cancel</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>