<div class="row" style="">
    <div class="alert alert-info" role="alert" style="text-align:right;">
        <a href="#" class="alert-link">Some text message</a>
    </div>
    <div class="alert alert-success" role="alert" style="text-align:left;">
        <a href="#" class="alert-link">Some text message</a>
    </div>
    <div class="alert alert-info" role="alert" style="text-align:right;">
        <a href="#" class="alert-link">Some text message</a>
    </div>
    <div class="alert alert-success" role="alert" style="text-align:left;">
        <a href="#" class="alert-link">Some text message</a>
    </div>
</div>
<div class="row">
    <form role="form">
        <textarea class="form-control" id="TextArea"></textarea>
        <button type="button" class="btn btn-default">Send</button>
        <button type="button" class="btn btn-default">Attach file</button>
    </form>
</div>