<div class="" id="loginModal">
    <div class="modal-body">
        <div class="well">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active in" id="register">
                    <form class="form-horizontal" id="register-form" action="#">
                        <fieldset>
                            <div id="legend">
                                <legend class="">Register</legend>
                            </div>
                            <div class="control-group">
                                <!-- Email -->
                                <label class="control-label" for="username">Email</label>

                                <div class="controls">
                                    <input type="email" id="email" name="email" placeholder="" class="input-xlarge">
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Password-->
                                <label class="control-label" for="password">Password</label>

                                <div class="controls">
                                    <input type="password" id="password" name="password" placeholder=""
                                           class="input-xlarge">
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Password confirmation-->
                                <label class="control-label" for="password-confirm">Confirm Password</label>

                                <div class="controls">
                                    <input type="password" id="password-confirm" name="password-confirm" placeholder=""
                                           class="input-xlarge">
                                </div>
                            </div>


                            <div class="control-group">
                                <!-- Button -->
                                <div class="controls">
                                    <button type="button" class="btn btn-success" id="register-button">Register</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>